In [32]:
x = input("Введите слово: ")
a = len(x)
if a % 2 == 0:
    print(x[len(x) // 2 - 1],x[len(x) // 2 ])
else:
    print(x[len(x) // 2])

Введите слово: fghjkfgh
j k

In [2]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys) == len(girls):
    alphabetically_boys = sorted(boys)  
    alphabetically_girls = sorted(girls)
    group = zip(alphabetically_boys, alphabetically_girls)
    print("Лучшие рекомендации")
    for print_list in list(group):
        print(f"{print_list[0]} и {print_list[1]}")
else:
    print("кто-то может остаться без пары!")

Лучшие рекомендации
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [13]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]
for countries in countries_temperature:
    print("Celsius average temperature", countries[0], ((((sum(countries[1] )) / len(countries[1])) - 32) / 1.8))

Celsius average temperature Thailand 23.857142857142854
Celsius average temperature Germany 13.714285714285708
Celsius average temperature Russia 3.7142857142857166
Celsius average temperature Poland 11.857142857142856

In [2]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]
i = 0
b = 0
x = 0

sum_ = 0
user_name = stream[x][-7:-2]
stream[0][-2:-11]
for z in (stream):   
    data = z.split(",")
    t = int(data[2])
    sum_ += t
    if data[1] == stream[x][-7:-2]:
        i += 1
     
            
print(f'({i} посещения user_1)')
print(f'({b} посещения user_2)')
print(f'общее количество посещений {sum_ }')

(4 посещения user_1)
(0 посещения user_2)
общее количество посещений 93

In [119]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]
data = input("Введите дату: ")
compuni = input("Введите компанию: ")
for search in stats:
    if (search[0], search[1]) == (data, compuni):
        print(search[2])

Введите дату: 2018-01-01
Введите компанию: google
25

In [120]:
#Напишите код, который будет вычислять сумму элементов на диагонали. Т. е. 13+32+23+35.
#Список может быть любой длины, но всегда является "квадратным" (количество элементов во вложенных списках равно их количеству).
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35],
    
]
sum_list = 0
y = 0
x = 0
if (len(data[:]) ==  len(data[0])):
    for z in data:
        x += 1
        y += 1
        sum_list += data [x -1][y -1]
    print(sum_list)
else:
    print(ошибка)

103